*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}

.html,body{
    display: grid;
    height: 100%;
    place-items:center ;
    background: #f2f2f2;
   

}
.wrapper{
    width:400px ;
    background: #fff;
    border-radius: 15px;
    margin-top: 100px;

}
.wrapper .title{
    color:#fff ;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg,#c850c0,#4158d0);

}
.wrapper form{
    padding: (10px 30px 50px 30px);
}
.wrapper form .field{
    height: 50px;
    width:100%;
    margin-top: 20px;
}
.wrapper form .field input{
    height: 100%;
    width: 100%;
    
}